@using MVCreview.Models;
@if (Session["userName"]!=null)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</li>
            <li>
                @Html.ActionLink(Session["userName"] + "", "AccountManagement", "Account", new { CustomerID = Session["customerID"]},null)
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    } // </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Ajax.ActionLink("Shopping Cart","Index", "ShoppingCart",new { cart= (List<ShoppingCartViewModel>)Session["shoppingCart"] }, new AjaxOptions { HttpMethod = "GET" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    </ul>
}
