@model IEnumerable<MVCreview.Models.ShoppingCartViewModel>

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dishID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dishPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dishID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dishPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
